@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Garamond";
    src: url(../fonts/EBGaramond-Regular.ttf);


}


body {
    color: #274426;
}

/******************************** SIDE MENU *******************************************/
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: rgba(39, 68, 38, 0.7);
}

#sidebar-wrapper ul {
    list-style: none;
    padding: 5px;
}

.sidebar-nav {
    position: absolute;
    top: 60px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border-radius: 5px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: rgba(224, 177, 126, 0.5);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
}

.imgLinkPhone {
    width: 36px;
}

/**************************** MENU BURGER ******************************/
.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(224, 177, 126, 0.7);
    line-height: 50px;
    z-index: 999;
    border-radius: 10px;
}

.menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {

    background: rgba(224, 177, 126, 0.5);
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(224, 177, 126, 0.7);
    line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {

    background: #E0B17EFF;
}

.scroll-to-top i {
    font-weight: 800;
}

/****************************************************************/
a, a:focus, a:active, a:hover {
    text-decoration: none;
    color: #E0B17EFF;
}

.akashiques-medium-guidance-energeticienne-mobilText {
    background-color: #274426;
    color: #E0B17EFF;
    font-weight: bold;
    padding: 5px;
}

.akashiques-medium-guidance-energeticienne-mobilText {
    text-align: center;
    margin-top: -1px;
}

.akashiques-medium-guidance-energeticienne-mobilText h1, .akashiques-medium-guidance-energeticienne-mobilText h2 {
    margin-top: 0px;
    font-size: 15px;
}

.akashiques-medium-guidance-energeticienne-mobilText a, main a {
    text-decoration: underline #E0B17EFF;
}

#akashiques-medium-guidance-energeticienne-navDesktop1, #akashiques-medium-guidance-energeticienne-navDesktop2 {
    display: none;
}

/*********** MAIN ********/
main {
    background-color: #ffffff;
}

.main-container {
    padding: 10px;
    margin-bottom: 15px;
}

main a {
    font-weight: bold;
}

main span {
    font-weight: bold;
    color: #E0B17EFF;
}

nav {
    font-family: "Garamond", sans-serif;
}

/************ Title ***********/
.title {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: #274426;
}

.title h1 {
    font-size: 21px;
    font-weight: bolder;
    font-family: "Garamond", sans-serif;
    font-style: italic;
}

.h1divBefore, .h1divAfter {
    flex-basis: 20%;
    height: 1px;
    background: #274426;
}

h2 {
    color: #E0B17EFF;
    text-align: center;
    font-size: 19px;
    font-weight: bolder;
}

h3 {
    color: #274426;
    text-align: center;
    font-size: 19px;
    font-weight: bolder;
}

.akashiques-medium-guidance-energeticienne-section {
    /* box-shadow: rgba(224, 177, 126, 0.5) 0 5px 15px;
     border-radius: 5px;*/
    margin-top: 40px;
}

.akashiques-medium-guidance-energeticienne-section article, blockquote {
    padding: 10px;
    font-size: 17px;
    line-height: 28px;
}

section h2 {
    text-align: center;
}

blockquote {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    color: #E0B17EFF;
}

article ul {
    list-style: circle;
}

.portraitContainer {
    max-width: 450px;
    text-align: center;
    margin: auto;
}

.portrait {
    width: 75%;
    border-radius: 10px;
}

.ImgSectionContainer {
    max-width: 700px;
    margin: auto;
}

.imgSection {
    border: solid #E0B17EFF 2px;
    width: 100%;
}

.divImgSection {
    padding: 3px;
    border: solid #E0B17EFF 6px;
}

.tarifPrestation {

    font-weight: bold;
}

.tarifPrestation p {
    margin: 0px;
}

.conseil {
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    font-weight: normal;
}

/*********************************************  POURQUOI **************************************/
#akashiques-medium-guidance-energeticienne-article-pourquoi {
    text-align: center;
}

#akashiques-medium-guidance-energeticienne-article-pourquoi ul {

    color: #274426;
    font-weight: bolder;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    list-style-type: circle;
    background-color: rgba(224, 177, 126, 0.2);
}

#akashiques-medium-guidance-energeticienne-article-pourquoi li {
    padding: 5px;
    margin: 10px 0px;

}

.textLeft {
    text-align: left;
    padding: 10px;
}

/******************************************** PRESTATION ********************************************/
#mes-prestations article {
    margin-top: 50px;
}

.prestaArticleContainer {
    background-color: rgba(224, 177, 126, 0.2);
    padding-top: 45px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
}

.imgTitlePresta {
    text-align: center;
}

.imgTitlePresta img {
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mes-prestations article p {
    color: #274426;
}

/******** BIENFAIT ************/
.bienfaitsUlContainer {
    background-color: rgba(224, 177, 126, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.divImgBienfaitSection {
    text-align: center;
}

.imgBienfaitSection {
    width: 45%;
}

/******************* CONTACT + FORM *************************/
#contact {
    margin-bottom: 150px;
}

.center h1 {
    border-left: 5px solid #E0B17EFF;
}

.center .inputbox {
    margin-bottom: 10px;
}

.center .inputbox input {
    border: 2px solid #274426;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox [type="submit"] {
    background: #274426;
    color: #fff;
    border: #fff;
}

.center .inputbox:hover [type="submit"] {
    background: #E0B17EFF;
}

input[type=email]:focus {
    border: solid #E0B17EFF 6px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #274426;
    -webkit-transition: 0.5s;
    transition: 0.3s;
    outline: none;
}

input[type=email] {
    border: solid #E0B17EFF 6px;
}


@media screen and (min-width: 601px) {
    .title h1 {
        font-size: 26px;
    }

    .h1divBefore, .h1divAfter {
        flex-basis: 24%;
    }

    .akashiques-medium-guidance-energeticienne-mobilText {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    main {
        background-image: url("../images/background-angel.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top 150px;

    }

    .main-container {
        padding: 0px 120px;
    }

}

@media screen and (min-width: 1025px) {

    .menu-toggle {
        display: none;
    }

    #akashiques-medium-guidance-energeticienne-banner {

        text-align: center;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        margin-top: -10px
    }

    .marginTopMain {
        margin-top: 350px;
    }

    .main-container {
        padding: 0px 170px;
    }

    /************************** NAVBAR  **********************/
    #akashiques-medium-guidance-energeticienne-navDesktop ul {
        font-weight: bold;
        margin: 0px;
        font-size: 16px;
        list-style: none;
        text-transform: uppercase;
        padding: 10px 0;
    }

    #akashiques-medium-guidance-energeticienne-navDesktop1 {
        display: block;
        z-index: 1;
    }

    .firstNavUl {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
    }

    #akashiques-medium-guidance-energeticienne-navDesktop2 {
        position: absolute;
        border-left: solid #E0B17EFF 2px;
        background-color: white;
        align-items: center;
    }

    #akashiques-medium-guidance-energeticienne-navDesktop2 ul {
        text-align: left;
        padding: 5px;
        align-items: center;
    }

    #akashiques-medium-guidance-energeticienne-navDesktop2 li {
        padding: 8px 0;

    }

    #akashiques-medium-guidance-energeticienne-navDesktop1 ul li, #prestationDiv {
        flex-basis: 15%;
        min-width: max-content;
    }

    .navLinks, #prestationNav {
        padding: 8px;
        text-align: center;
        border-left: solid #E0B17EFF 2px;
    }

    .homeLink {
        border-left: unset;
    }

    .portraitContainer {
        margin: 10px;
        width: 25%;
        float: left;
    }

    .portrait {
        width: 100%;
    }


    /******************** PRESTATION *************************/
    #prestationDiv ul li a {
        padding: 10px;
        border-radius: 5px;
    }

    .navLinks a:hover, .prestationNavA:hover {
        border-top: solid #E0B17EFF 2px;
    }

    #prestationNav .fa-chevron-down {
        margin-left: 5px;
    }

    #prestationDiv ul li a:hover {
        background-color: #274426;
    }

    .imgLink {
        width: 35px;
    }

    .title h1 {
        font-size: 27px;
    }

    .h1divBefore, .h1divAfter {
        flex-basis: 25%;
    }

}

@media screen and (min-width: 1500px) {
    #akashiques-medium-guidance-energeticienne-navDesktop a {
        font-size: 18px;
    }

    .main-container {
        padding: 0px 400px;
        font-size: 20px;
    }

    .akashiques-medium-guidance-energeticienne-section article, blockquote {
        font-size: 20px;
    }

    .title h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    .h1divBefore, .h1divAfter {
        flex-basis: 30%;
    }

    .bienfaitsUl {
        display: flex;
        justify-content: space-between;


    }
}

@media screen and (min-width: 1700px) {
    #mes-prestations article {
        padding: 0 200px;
    }
}

/*E1B17E*/