@font-face {
    font-family: "Garamond";
    src: url(../fonts/EBGaramond-Regular.ttf);
}

body{
    font-family: "Garamond", sans-serif;

}


/******************************** SIDE MENU *******************************************/
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: rgba(0, 0, 0, 0.5);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: rgba(224, 177, 126, 0.5);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(43, 139, 235, 0.9);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
    color: #274426;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #274426;
    background: none;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
}


/**************************** MENU BURGER ******************************/
.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
    border-radius: 10px;
}

.menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {
    background: #343a40;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: #E0B17EFF;
}

.akashiques-medium-guidance-energeticienne-mobilText, #akashiques-medium-guidance-energeticienne-footer {
    background-color: #274426;
    text-align: center;
    color: #E0B17EFF;
    font-weight: bold;
    padding: 5px;

}

.akashiques-medium-guidance-energeticienne-mobilText h1, .akashiques-medium-guidance-energeticienne-mobilText h2 {
    margin-top: 0px;
    font-size: 15px;
}

.akashiques-medium-guidance-energeticienne-mobilText a, main a  {
    text-decoration: underline #E0B17EFF;
}


#akashiques-medium-guidance-energeticienne-article-pourquoi li {
    margin: 10px 0px;
}
.akashiques-medium-guidance-energeticienne-navDesktop {
    display: none;
}

.akashiques-medium-guidance-energeticienne-navDesktop ul {
    list-style: none;
    padding: 0;
}

main {
    background-color: #ffffff;
}

.main-container {
    padding: 10px;
    margin-bottom: 15px;
}

main a {
    font-weight: bold;

}
main span {
    font-weight: bold;
}
.akashiques-medium-guidance-energeticienne-section{
    box-shadow: rgba(0, 0, 0, .35) 0 5px 15px;
    border-radius: 5px;
}

.akashiques-medium-guidance-energeticienne-section h1{
    background-color: #274426;
    color: #E0B17EFF;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;

}
.akashiques-medium-guidance-energeticienne-section article
 {
    padding: 10px;
    font-size: 18px;
    line-height: 28px;
}
section h2 {
    text-align: center;
}
.akashiques-medium-guidance-energeticienne-section article h2 {
    font-size: 20px;
    background-color: #E0B17EFF;
    padding: 3px;
    font-weight: bold;
    color:#274426;
    border-radius: 5px;
}



blockquote {
    text-align: center;
    font-size: 15px;
}
.tarifPrestation {
    font-size: 15px;
    font-weight:bold;

}
.tarifPrestation p {
    margin: 0px;
}
.conseil  {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    font-weight: normal;
}

#akashiques-medium-guidance-energeticienne-footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
}

@media screen and (min-width:768px) {
    .akashiques-medium-guidance-energeticienne-mobilText {
        display: none;
    }
    main {
        background-image: url("../images/background-angel.jpg");
        background-size: contain;
    }

    .main-container {
        padding-left: 120px;
        padding-right: 120px;
    }

}