@font-face {
    font-family: "Garamond";
    src: url(../fonts/EBGaramond-Regular.ttf);
}

body {
    font-family: "Garamond", sans-serif;

}


/******************************** SIDE MENU *******************************************/
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: rgba(39, 68, 38, 0.7);
}

.sidebar-nav {
    position: absolute;
    top: 69px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: rgba(224, 177, 126, 0.5);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(43, 139, 235, 0.9);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
    color: #274426;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #274426;
    background: none;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
}


/**************************** MENU BURGER ******************************/
.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(224, 177, 126, 0.7);
    line-height: 50px;
    z-index: 999;
    border-radius: 10px;
}

.menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {

    background: rgba(224, 177, 126, 0.5);
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(224, 177, 126, 0.7);

    line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {

    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

/****************************************************************/
a, a:focus, a:active, a:hover {
    text-decoration: none;
    color: #E0B17EFF;
}

.akashiques-medium-guidance-energeticienne-mobilText, #akashiques-medium-guidance-energeticienne-footer {
    background-color: #274426;
    text-align: center;
    color: #E0B17EFF;
    font-weight: bold;
    padding: 5px;

}

.akashiques-medium-guidance-energeticienne-mobilText h1, .akashiques-medium-guidance-energeticienne-mobilText h2 {
    margin-top: 0px;
    font-size: 15px;
}

.akashiques-medium-guidance-energeticienne-mobilText a, main a {
    text-decoration: underline #E0B17EFF;
}


#akashiques-medium-guidance-energeticienne-article-pourquoi li {
    margin: 10px 0px;
}

#akashiques-medium-guidance-energeticienne-navDesktop1, #akashiques-medium-guidance-energeticienne-navDesktop2 {
    display: none;
}


main {
    background-color: #ffffff;
}

.main-container {
    padding: 10px;
    margin-bottom: 15px;
}

main a {
    font-weight: bold;

}

main span {
    font-weight: bold;
}

.akashiques-medium-guidance-energeticienne-section {
    box-shadow: rgba(224, 177, 126, 0.5) 0 5px 15px;
    border-radius: 5px;
    margin-top: 50px;
}


.akashiques-medium-guidance-energeticienne-section article {
    padding: 10px;
    font-size: 18px;
    line-height: 28px;
}

section h2 {
    text-align: center;
}

blockquote {
    text-align: center;
    font-size: 15px;
}

.tarifPrestation {

    font-weight: bold;

}

.tarifPrestation p {
    margin: 0px;
}

.conseil {
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    font-weight: normal;
}

#akashiques-medium-guidance-energeticienne-contact {
    margin-bottom: 200px;
}

#akashiques-medium-guidance-energeticienne-footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;

}

@media screen and (min-width: 601px) {

    .akashiques-medium-guidance-energeticienne-mobilText {
        display: none;
    }

    #akashiques-medium-guidance-energeticienne-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .logoimg {

        max-height: 380px;
    }
}

@media screen and (min-width: 768px) {


    main {
        background-image: url("../images/background-angel.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top 150px;

    }

    .main-container {
        padding: 0px 120px;
    }

}

@media screen and (min-width: 1025px) {
    .menu-toggle {
        display: none;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        margin-top: -10px
    }

    .marginTopMain {
        margin-top: 500px;
    }



    #akashiques-medium-guidance-energeticienne-navDesktop1 li, #akashiques-medium-guidance-energeticienne-navDesktop2 {
        background-color: white;
    }

    #akashiques-medium-guidance-energeticienne-navDesktop ul {
        font-weight: bold;
        margin: 0px;
        font-size: 16px;
        list-style: none;
        text-transform: uppercase;
    }

    #akashiques-medium-guidance-energeticienne-navDesktop1 {
        display: block;
    }

    .firstNavUl {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navLinks, #prestationNav {
        padding: 8px;
        width: 330px;
        text-align: center;
        height: 40px;
        border-left: solid #E0B17EFF 2px;
    }

    .navLinks a {
        padding: 8px;
    }

    .navLinks a:hover, .prestationNavA:hover {
        border-top: solid #E0B17EFF 2px;
    }

    #firstNavLinks {
        border-left: none;
    }



    #akashiques-medium-guidance-energeticienne-navDesktop2 ul {
        text-align: left;
        padding: 15px;

    }

    #akashiques-medium-guidance-energeticienne-navDesktop2 li {
        padding: 8px 0;

    }


    .imgLink {
        width: 35px;

    }

    .main-container {
        padding: 0px 250px;
    }

}

@media screen and (min-width: 1500px) {

    .main-container {
        padding: 0px 350px;
    }

}